<section class="info-s1 container-fluid d-flex minh-50vh bg-dark align-items-center py-5">
    <div class="row mx-0 w-100 mt-5 pt-5">
        <div class="col-12 col-md-7 minh-25vh order-1 order-md-2"></div>
        <div class="col-12 col-md-5 minh-50vh order-2 order-md-1 d-flex align-items-center">
            <div class="w-100 text-center text-md-start">
                <h5 class="text-secondary">
                    Sed ut perspiciatis
                </h5>
                <h2 class="dispaly-6 fw-bold text-dark">
                    Unde omnis iste
                </h2>
                <p class="initialism text-secondary">
                    Natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis 
                    et quasi architecto beatae vitae dicta sunt explicabo. Nemo 
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut 
                    fugit
                </p>
            </div>
        </div>
    </div>
</section>