<section class="classes-s1 container-fluid bg-dark d-flex minh-50vh align-items-center py-5">
	<div class="row mx-0 w-100 mt-5">
        <div class="col-12 col-md-6 minh-25vh d-none d-md-block"></div>
        <div class="col-12 col-md-6 minh-50vh d-flex align-items-center">
            <div class="w-100 text-center text-md-start pt-5">
                <h5 class="text-secondary">
                    Lorem ipsum
                </h5>
                <h2 class="dispaly-6 fw-bold text-dark">
                    Dolor sit amet         
                </h2>
                <p class="initialism text-secondary">
                    Sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                    occaecat cupidatat non proident, sunt in culpa qui officia 
                    deserunt mollit anim id est laborum.      
                </p>
            </div>
        </div>
    </div>
</section>