$prefix: "../../../assets/";
$bg__classes-img: 
    $prefix+"img/classes/classes-s1.jpg",
    $prefix+"img/classes/classes-s2.jpg",
    $prefix+"img/classes/classes-s3.jpg",
    $prefix+"img/classes/classes-s4.jpg";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__info-img: 
    $prefix+"img/info/info-s1.jpg",
    $prefix+"img/info/info-s2.jpg",
    $prefix+"img/info/info-s3.jpg";
$bg__offer-img: 
    $prefix+"img/offer/offer-s1.jpg",
    "",
    $prefix+"img/offer/offer-s3.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__init:
    "classes",
    "comingsoon",
    "contact",
    "error",
    "index",
    "info",
    "offer",
    "privacy",
    "user";
$classes_init:
    $bg__classes-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__info-img,
    $bg__offer-img,
    $bg__privacy-img,
    $bg__user-img;
$footer-height: 41px;
$text__shadow: 1px 1px 3px #333;