<section class="classes-s3 container-fluid d-flex minh-50vh bg-white align-items-center py-5 border-top border-dark">
    <div class="row mx-0 w-100">
        <div class="col-12 col-md-6 col-lg-5 offset-md-6 col-lg-5 offset-lg-7 minh-50vh d-flex align-items-center">
            <div class="w-100 text-center text-md-start">
                <h2 class="dispaly-6 fw-bold text-secondary">
                    Lorem ipsum
                </h2>
                <p class="text-muted">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim 
                    ipsam voluptatem quia voluptas
                </p>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr class="text-secondary">
                            <th class="w-25">Name</th>
                            <th class="w-50">Description</th>
                            <th class="w-25">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="w-100 text-center py-3">
                    <a href="#" class="btn btn-sm btn-outline-secondary rounded-pill">
                        Lorem ipsum <span class="fw-bold mx-1">dolor</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>